h1 {
  font-size: 50px;
  color: #333;
  margin-bottom: 20px;
}
form {
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: hsl(122, 23%, 47%);
  color: #fff;
  border: none;
  cursor: pointer;
}
