<div
  [ngClass]="{
    'dark-page': selectedTheme === 'dark',
    'light-page': selectedTheme === 'light'
  }"
>
  <h1>{{ title }}</h1>
  <img src="../../assets/snakeImageLittleDimension.png" alt="Snake Image" />
  <form [formGroup]="userForm" (submit)="onSubmit()">
    <label for="name">Name</label>
    <input name="name" type="text" formControlName="name" />
    @if(userForm.controls['name'].touched && userForm.controls['name'].invalid)
    { @if(userForm.get('name')!.errors?.['required']){
    <p class="error-message">Name is required</p>
    } @if(userForm.get('name')!.errors?.['minlength']){
    <p class="error-message">Name must have minimum 5 characters long</p>
    } }
    <label for="token">Student ID</label>
    <input name="token" formControlName="token" />
    @if(userForm.controls['token'].touched &&
    userForm.controls['token'].invalid) {
    @if(userForm.get('token')!.errors?.['required']){
    <p class="error-message">Student ID is required</p>
    } @if(userForm.get('token')!.errors?.['minlength']){
    <p class="error-message">Student ID must have minimum 4</p>
    } @if(userForm.get('token')!.errors?.['invalid']){
    <p class="error-message">Invalid student ID</p>
    } }
    <label for="theme">Page color</label>
    <select formControlName="selectedTheme" name="theme" id="">
      <option value="light">light</option>
      <option value="dark">shadow</option>
    </select>

    <button [disabled]="!userForm.valid">START</button>
  </form>
</div>
