<ngx-snake #game></ngx-snake>
<br />
<button (click)="game.actionUp()">Up</button>
<button (click)="game.actionDown()">Down</button>
<button (click)="game.actionLeft()">Left</button>
<button (click)="game.actionRight()">Right</button>

<br />
<p>
  <button
    (click)="game.actionStart()"
    (click)="timerStart()"
    (click)="handleButtonClick('Start Game')"
  >
    Start
  </button>
</p>
<p>
  <button
    (click)="game.actionStop()"
    (click)="handleButtonClick('Pause')"
    (click)="game.actionStop()"
    (click)="timerStop()"
  >
    Stop
  </button>
</p>
<p>
  <button
    (click)="game.actionReset()"
    (click)="handleButtonClick('Reset')"
    (click)="game.actionReset()"
    (click)="timerReset()"
  >
    Reset
  </button>
</p>
